/* image was obtained from https://smartasset.com/financial-advisor/permanent-portfolio */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: blueviolet;
}

/* applying styles to header to make it look nice*/
header
{
    padding: 20px 35px;
    background-color: black;
    color: #87cefa;
}

header li
{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    list-style-type: none;
}

header nav
{
    float: right;
    margin: 7px 0;
}

header a
{
    text-decoration: none;
    color: #87cefa;
}

header nav ul li
{
    display: inline;
    margin: 0 15px;
}

header h2 
{
    font-weight: bold;
    margin: 0;
    display: inline;
}

.image-bar
{
    padding: 120px;
    background-image: url("../images/portfolio.jpg")
    /* image was obtained from https://smartasset.com/financial-advisor/permanent-portfolio */
}

/* body of web page*/
.body-head
{
    color: gold;
    text-align: center;
}
.body-head h1
{
    font-size: 55px;
    margin-bottom: 35px;
    padding: 0 10px 20px 10px;
    border-right: 3px solid;
    border-color: #fce138;
    text-align: left;
    color: #87cefa;
}