/* Portfolio image was obtained from https://smartasset.com/financial-advisor/permanent-portfolio */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #696969;
}

/* applying styles to header to make it look nice*/
header
{
    padding: 20px 35px;
    background-color: #696969;
    color: black;
}

header li
{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    list-style-type: none;
}

/* hover over li*/
header nav ul li:hover
{
    background-color:blue;
}

header nav
{
    float: right;
    margin: 7px 0;
}

header a
{
    text-decoration: none;
    color: black;
}

header nav ul li
{
    display: inline;
    margin: 0 15px;
}

header h2 
{
    font-weight: bold;
    margin: 0;
    display: inline;
}

.image-bar
{
    padding: 120px;
    background-image: url("../images/portfolio.jpg")
    /* image was obtained from https://smartasset.com/financial-advisor/permanent-portfolio */
}

/* body of web page*/
.body-head p
{
    color: #FFD700;
    text-align: center;
    float: center;
    width: 75%;
    padding: 40px 10px;
    font-size: 20px;
}
.body-head h1
{
    font-size: 50px;
    margin-bottom: 35px;
    border-right: 3px solid;
    border-color: #FFD700;
    text-align: center;
    float: left;
    width: 20%;
    padding-top: 5px;
}

/* coding for the contact section*/
.body-head ul li
{
    display: inline;
    margin: 10px 15px;
    color: gold;
}

/* flex parent */
.flex-container {
    /* create flexbox */
    display: flex;
    /* instruct it to break onto next line if it runs out of space */
    flex-wrap: wrap;
    /* put all unused space between items */
    justify-content: space-between;
    width: 60%;
  }

/* Start of my work, flex child for run buddy*/
.flex-item1 {
    width: 40%;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid black;
    background-color: #393B4F;
    font-size: 22px;
    font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;
  margin-left: 10px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/runbuddy-image.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

/* for text area inside of flex item */
.flex-item1 span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
    text-align: center;
  }

/* Now working on Horiseon*/
.flex-item2 {
    width: 40%;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid black;
    background-color: #393B4F;
    font-size: 22px;
    font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/horiseon.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

/* for text area inside of flex item */
.flex-item2 span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
    text-align: center;
  }

  .flex-item3 {
    width: 40%;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid black;
    background-color: #393B4F;
    font-size: 22px;
    font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;
  margin-left: 10px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/screenshot2.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

.flex-item3 span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
    text-align: center;
  }

  /* hover over runbuddy and horiseon*/
  .flex-container a:hover
  {
      background-color:blue;
  }

  .flex-item4 {
    width: 40%;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid black;
    background-color: #393B4F;
    font-size: 22px;
    font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;
  margin-left: 10px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/workoutworkers.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

.flex-item4 span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
    text-align: center;
  }

  /* hover over runbuddy and horiseon*/
  .flex-container a:hover
  {
      background-color:blue;
  }
  
/* hover over contact info */
.body-head ul li:hover
{
    background-color: blue;
}

.body-head li
{
    font-weight: bold;
    font-size: 23px;
    margin: 0;
    list-style-type: none;
    line-height: 5.0;
}

.body-head a
{
    text-decoration: none;
    color: gold;
}
/* MEDIA QUERY FOR SMALLER SCREES */
@media screen and (max-width: 1109px)
{
    .body-head p
    {
 
        text-align: center;
        margin: 0 25px;
    }
    .body-head h1
    {
        font-size: 40px;
        color: Black;
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 0;
        border-bottom: 0px solid;
        border-color : gold;
        display: inline-block;
    }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px)
  {
    .body-head p
    {
 
        text-align: center;
        margin: 0 30px;
        font-size: 15px;
    }
    .body-head h1
    {
        font-size: 25px;
        color: Black;
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 0;
        border-bottom: 0px solid;
        border-color : gold;
        display: inline-block;
    }
    .body-head a
    {
        font-size: 10px;
    }
  }